.selectbox {
  position: relative;
}

.selectbox::before,
.selectbox::after {
  position: absolute;
  content: '';
  pointer-events: none;
}

.selectbox::before {
  right: 0;
  display: inline-block;
  width: 2.8em;
  height: 2.8em;
  border-radius: 0 3px 3px 0;
  background-color: #b99bce;
  content: '';
}

.selectbox::after {
  position: absolute;
  top: 50%;
  right: 1.4em;
  transform: translate(50%, -50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  content: '';
}

.selectbox select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: 0.4em 3.6em 0.4em 0.8em;
  border: 2px solid #b99bce;
  border-radius: 3px;
  color: #333333;
  font-size: 1em;
  cursor: pointer;
}

.selectbox select:focus {
  outline: 1px solid #b99bce;
}
