@import 'tailwindcss';

:root {
  --background: #fffbfd;
  --foreground: #5a5a5a;

  --default: #ffb7c5;
  --primary: #ff9ebb;
  --secondary: #a2d2ff;
  --tertiary: #cdb4db;

  --disable: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-jp), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
  --color-default: var(--default);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-disable: var(--disable);
  --color-error: #ff6b6b;
  --color-attention: #ffd93d;
  --color-warning: #ffcf56;
  --color-info: #4cc9f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffbfd;
    --foreground: #5a5a5a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  letter-spacing: 0.05em;
}

button,
a {
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover,
a:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}
